<div id="course-{{ course.id }}" class="border p-3 rounded shadow-sm">
  <h3 class="text-lg font-semibold">{{ course.course_name }}</h3>
  <p>{{ course.course_description }}</p>
  <p>
    <span class="text-gray-500">Duration</span>: {{ course.course_duration }}
    minutes
  </p>
  <p><span class="text-gray-500">Price</span>: ${{ course.course_price }}</p>

  <h4 class="mt-2 font-medium text-gray-500">Slots:</h4>
  <ul>
    {% for slot in slots_for_course %}
    <li id="slot-{{ slot.id }}" class="transition-colors duration-1000">
      {{ slot.slot|format_datetime }}
      <button
        hx-delete="{{ url_for('delete_slot', username=username, slot_id=slot.id) }}"
        hx-target="#slot-{{ slot.id }}"
        hx-swap="outerHTML"
        class="bg-red-500 text-white hover:bg-red-800 px-2 py-1 m-2 rounded ml-2"
      >
        Remove
        <span
          id="spinner-{{ slot.id }}"
          class="htmx-indicator text-yellow-600 ml-2 hidden"
        >
          ...⏳
        </span>
      </button>
      <!-- <button
        hx-delete="{{ url_for('delete_slot', username=username, slot_id=slot.id) }}"
        hx-target="#slot-{{ slot.id }}"
        hx-swap="outerHTML"
        hx-on="htmx:beforeRequest: this.innerText='Deleting...'; htmx:afterRequest: this.innerText='Delete';"
        class="bg-red-500 text-white hover:bg-red-800 px-2 py-1 m-2 rounded ml-2"
      >
        Delete
      </button> -->
    </li>
    {% else %}
    <li class="text-gray-400">No slots yet</li>
    {% endfor %}
  </ul>

  <!-- <button
    hx-get="/{{ username }}/dashboard/slots/add_form/{{ course.id }}"
    hx-target="#course-{{ course.id }}"
    hx-swap="outerHTML"
    class="bg-blue-400 text-white px-2 py-1 rounded mt-2"
  >
    Add Slot
  </button> -->

  <button
    hx-get="{{ url_for('add_slot_form', username=username, course_id=course.id) }}"
    hx-target="#new-slot-container"
    hx-swap="outerHTML"
    class="bg-black text-white hover:bg-gray-200 hover:text-black px-2 py-1 rounded mt-2"
  >
    Add New Slot
  </button>
</div>
