<div id="slot-{{ slot.id }}">
  <form
    hx-post="/{{ username }}/dashboard/slots/update/{{ slot.id }}"
    hx-target="#slot-{{ slot.id }}"
    hx-swap="outerHTML"
    class="space-y-2"
  >
    <input
      type="text"
      name="course_name"
      value="{{ slot.course_name }}"
      class="border px-2 py-1 rounded w-full"
    />
    <input
      type="number"
      name="course_duration"
      value="{{slot.course_duration}}"
      class="border p-1 rounded"
    />
    <input
      type="number"
      name="course_price"
      value="{{slot.course_price}}"
      class="border p-1 rounded"
    />
    <input
      type="text"
      name="course_description"
      value="{{slot.course_description}}"
      class="border p-1 rounded"
    />
    <input
      type="text"
      name="course_requirements"
      value="{{slot.course_requirements}}"
      class="border p-1 rounded"
    />
    <input
      type="datetime-local"
      name="slot"
      value="{{slot.slot}}"
      class="border p-1 rounded"
    />
    <button
      type="submit"
      class="bg-green-500 text-white hover:bg-green-700 px-2 py-1 rounded"
    >
      Save
    </button>
    <button
      type="button"
      hx-get="/{{ username }}/dashboard/slots/view/{{ slot.id }}"
      hx-target="#slot-{{ slot.id }}"
      hx-swap="outerHTML"
      class="bg-gray-500 text-white hover:bg-gray-700 px-2 py-1 rounded"
    >
      Cancel
    </button>
  </form>
</div>
