<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeachAnything | Dashboard Login</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
            body {
        font-family: Arial, Helvetica, sans-serif;
        background: #329424;
        background: linear-gradient(0deg, #329424, #b7d6b7);
        height: 90vh;
        object-fit: fill;
      }
      #login-indicator {
        display: none;
      }
    </style>
  </head>
  <body class="bg-gray-100 flex items-center justify-center">
    <div
      class="bg-white p-8 m-4 rounded shadow-md w-96 flex flex-col justify-center items-center"
    >
      <h1 class="text-2xl font-bold m-6">Login to your dashboard</h1>
      <form action="/login" method="post" class="space-y-4">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="w-full border p-2 rounded"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="w-full border p-2 rounded"
          required
        />
        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded" onclick="showIndicator()">
          Login
        </button>
        <span id="login-indicator" text-green-600 ml-2 hidden">
          Wait...⏳
        </span>
      </form>
    </div>

<script>
  function showIndicator() {
   // document.getElementById("login-indicator").classList.remove("hidden");
    document.getElementById("login-indicator").style.display = "block";
  }
</script>
  </body>
</html>
